/* global */
li {
  @apply text-base-content;
}
/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-base-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-base-content rounded;
}

/* global */
.animate-menu {
  -webkit-animation: show-menu 1s ease 0s 1 normal forwards;
  animation: show-menu 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes show-menu {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 220px;
  }
}

@keyframes show-menu {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 220px;
  }
}
.animate-menu-none {
  -webkit-animation: menu-none 1s ease 0s 1 normal forwards;
  animation: menu-none 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes menu-none {
  0% {
    opacity: 1;
    height: 220px;
  }
  85% {
    opacity: 0;
  }

  100% {
    height: 0px;
  }
}

@keyframes menu-none {
  0% {
    opacity: 1;
    height: 220px;
  }
  85% {
    opacity: 0;
  }

  100% {
    height: 0px;
  }
}

.animate-menu-btn-in {
  -webkit-animation: menu-btn-in 500ms ease 0s 1 normal forwards;
  animation: menu-btn-in 500ms ease 0s 1 normal forwards;
}
@-webkit-keyframes menu-btn-in {
  0% {
    opacity: 0;
    transform: rotate(-360deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
@keyframes menu-btn-in {
  0% {
    opacity: 0;
    transform: rotate(-360deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
.animate-menu-btn-out {
  -webkit-animation: menu-btn-out 500ms ease 0s 1 normal forwards;
  animation: menu-btn-out 500ms ease 0s 1 normal forwards;
}
@-webkit-keyframes menu-btn-out {
  0% {
    opacity: 0;
    transform: rotate(360deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
@keyframes menu-btn-out {
  0% {
    opacity: 0;
    transform: rotate(360deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.txr-full {
  animation: top-slider-next 800ms ease 0s 1 normal forwards;
  display: block;
}

@keyframes top-slider-next {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.txr-full-none {
  animation: top-slider-next-none 1000ms ease 0s 1 normal forwards;
}

@keyframes top-slider-next-none {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.txl-full {
  animation: top-slider-prev 800ms ease 0s 1 normal forwards;
  display: block;
}

@keyframes top-slider-prev {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.txl-full-none {
  animation: top-slider-prev-none 1000ms ease 0s 1 normal forwards;
}

@keyframes top-slider-prev-none {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
/* ================================================multiple ========== */

.txr-vw {
  animation: txr-vw 800ms ease 0s 1 normal forwards;
  display: block;
}

@keyframes txr-vw {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

.txl-vw {
  animation: txl-vw 800ms ease 0s 1 normal forwards;
  display: block;
}

@keyframes txl-vw {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}
